body{
	color: #000;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: small;
}

.container-fluid{
	margin-left: -15px;
	padding-right: 0;
}

.box {
	font-size: 50px;
}

.parallax { 
    /* The image used */
    background-image: url("images/homePage.jpg");

    /* Set a specific height */
    height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 { 
    /* The image used */
    background-image: url("images/homePage2.jpg");

    /* Set a specific height */
    height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 { 
    /* The image used */
    background-image: url("images/contactPage1.jpg");

    /* Set a specific height */
    height: 650px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 { 
    /* The image used */
    background-image: url("images/homePage2.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homePageBox{
	background-color: white;
	height: 500px;
}

.nav {

	font-size: 20px;
}

.topBox{
	font-size: 50px;
	color: #FFF;
	padding: 15%;
	height: 650px;
    margin-top: -2%;
	font-family: 'Dancing Script', cursive;
	background-color: rgba(255,90,95,0.25);
}

.topBox1{
	font-size: 50px;
	color: #FFF;
	height: 300px;
	padding: 2%;
	font-family: 'Dancing Script', cursive;
	background-color: rgba(255,90,95,0.25);
}

.contactHead{
	font-size: 100px;
	color: #FFF;
	height: 650px;
	padding: 15%;
	font-family: 'Dancing Script', cursive;
	background-color: rgba(255,90,95,0.25);
    margin-top: -2%;
}

.textContainer{
	font-size: xx-large;
	color: black;
	height: 400px;
	padding: 5% ;
}

.description{
	color: #;
	font-size: medium;
	padding: 0 100px 0 100px;
    margin-top: 3%;
}

.descriptionhead{
	color: #fff;
	font-size: 30px;
	padding: 0 50px 0 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.description-htw{
	color: #FFF;
	font-size: 20px;
	padding: 0 50px 0 50px;
}

a{
	color: #000;
}

/*--------------------------------------------------------------
# NavBar 
--------------------------------------------------------------*/

/* Style the links inside the navigation bar */

.topnav {
    margin-right: 3%;
    margin-left: 3%;
    padding-top: 2%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    transition: border 0.5s ease-in-out 0s;
}

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    border:0 none;
    position: relative;
    outline: none;
}

.topnav a{
  text-decoration: none;
  z-index: 1;
}

.topnav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: rgba(255, 90, 95, 0.4);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

.topnav a:hover:before,
.topnav a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
   

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/*--------------------------------------------------------------
# Footer 
--------------------------------------------------------------*/

.footer a{
    color: #fff;
    text-decoration: none;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #7f2d2f !important;
    text-decoration: none;
}
.footer a:visited {
    color: #fff;
    text-decoration: none;
}
.footer hr{

    border: 0;
    border-top: 1px solid #eee;
    width: 42%;
}


.footer{
	background-color: #FF5A5F;
	color: #fff;
}



.footer-widget-container{
	width: 33.3%;
	float: left;
	padding: 1%;
	text-align: center;

}
.footer-widget-heading{
	padding: 1%;
	    font-size: xx-large;
	        margin-bottom: 5%;
                font-weight: bolder;

}
.footer-widget-sub-heading{
	padding: 1%;
	    font-size: large;
	        margin-bottom: 2%;

}


.footer-widget-content-container{
     width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 3%;

}


    .footer-useful-link{
         padding: 1%;


    }
    .footer-useful-link-hyperlink{
        padding: 2%;

    }
.footer-contact-logo{

}
.footer-contact-and-social{

}


.footer-contact-info{
	    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 3%;
}
.footer-contact-info-item{
	 margin: 0% 0% 2% 0%;
    padding: 0% 0% 2% 0%;

}
.footer-social-item-icon{

}
.footer-social-area{
    clear: both;
    
     

}
.footer-social-items{
        padding: 1%;
   
    width: 40%;
    margin: 0 auto;
    text-align: center;
    
        
}
.footer-social-item{
	    
            padding: 2%;
    
    display: inline;
    font-size: large;
}

.footer-social-item-text-area{
	padding: 5%;
    float: left;
    width: 80%;
    text-align: left;

}
.footer-get-touch-form{
	width: 70%;
	margin: 0 auto;
}
.footer-get-touch-form-item{
	    width: 100%;
}
.footer-tagline{
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	 font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: large;

}
.footer-copyright-area{
	    background-color: rgba(0, 0, 0, 0.42);

}
.footer-copyright{
width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 1%;

}


/*--------------------------------------------------------------
# Video Area 
--------------------------------------------------------------*/

.video-area{
    padding: 5%;
    text-align: center;
}
  .home-page-how-it-works{
    padding: 1%;
  }

  .home-page-how-it-works-step{
    float: left;
    width: 33.33%;

  }
  .home-page-how-it-works-step-image-area{
    text-align: center;

  }
  .home-page-how-it-works-step-image{
    width: 200px;
    height: 200px;

  }
  .home-page-how-it-works-step-heading{
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    margin-top: 5%;

  }
  .home-page-how-it-works-step-content{
    text-align: justify;
    padding: 3%;
    width: 80%;
    margin: 0 auto;

  }
.home-page-how-it-works-button-area{
    padding: 5%;
    clear: both;
}

.home-page-how-it-works-button-space{
    
    width: 15%;
    margin : 0 auto;
    text-align: center;
}
  .home-page-how-it-works-button{

    background-color:#FF5A5F;
   padding: 10%;

  }
  .home-page-how-it-works-button-text{
    font-size: large;
    font-weight: bolder;
    color: #FFF;
    text-decoration: none;
  }

.home-page-how-it-works-button:hover {
	background-color: rgba(255, 90, 95, 0.6);
}

.home-page-how-it-works-button-space a:hover {
    text-decoration: none;
}

.home {
    background-color: #fff;
}

/*--------------------------------------------------------------
# Customer Photos Area 
--------------------------------------------------------------*/
.customer-photo-area{
	padding: 1%;
    text-align: center;
    margin-top: 3%;

}
.customer-individual-photo{
	 display: inline-block;
    margin: 1%;

}
.customer-photo-image{
	width: 230px;

    	height:230px ;
        margin :0.5%;        
}

.places-visited-image-area{
    padding: 3%;
    text-align: center;

}
.places-visited-image{
    width: 500px;
    height: 500px ;
}

/*--------------------------------------------------------------
# SponsorShip Area 
--------------------------------------------------------------*/
  .home-page-heading-area{
  	padding: 1%;
    text-align: center;
    font-size: xx-large;

    margin-top: 3%;
    color: #000;
    font-family: 'Dancing Script', cursive;
    margin-top: 3%;
    font-weight: bolder;

  }
  .sponsors-area{

  }
  .sponsors-area hr{
    border: 0;
    border-top: 2px solid #eee;
    width: 80%;

  }
    .sponsor-list-area{
    	
    

    }
    .sponsor-list{
        padding: 1%;
    text-align: center;

    overflow: hidden;

    }
    .sponsor-individual-card{
    	    display: inline-block;
    margin: 1%;

    }
    .sponsor-logo-image{
    	
    	width: 300px;
    	height:125px ;

    }

    /*--------------------------------------------------------------
# FAQs Page
--------------------------------------------------------------*/

.faq-questions-area{
    padding: 5%;
   color: black;
}

.faq-questions-div{
    width: 50%;
    padding: 2%;
    float: left;

}

.faq-question-individual{
    padding: 2%;

}
.faq-question-question{
    text-align: justify;
        font-weight: bold;
    font-size: x-large;


}
.faq-question-answer{
    margin-top: 2%;
    text-align: justify;

}
.faq-contact-info-area{
    width: 80%;
    margin:0 auto;
    clear: both;

}
.faq-contact-info{
    padding: 5%;
    text-align: center;
    font-size: x-large;
    color: black;
}


    /*--------------------------------------------------------------
# Home Page Video
--------------------------------------------------------------*/

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}


    /*--------------------------------------------------------------
# How It works
--------------------------------------------------------------*/

.how-it-works {
    width: 60%;
    margin: auto;
}

.how-it-works-banner-area {
  /*text-align: center;*/

}
    .how-it-works-banner{
      padding: 1%;

    }
   .how-it-works-banner-image{
    width: 1000px;
    height: 300px;

   }

.htw-image {
    height: 120px;
    width: 120px;
    float: left;
}

.step {
    margin-bottom: 15%;
}

.htw-steps {
    margin-top: 5%;
}

.step-head {
    color: #ff5a5f;
    font-weight: bold;
    font-size: large;
    margin:2%;
}

.step-desc-area {
    margin-left: 20%;
}
.step-desc {
    width: 80%;
    text-align: justify;
    word-spacing: 4px;
}

    /*--------------------------------------------------------------
# Packages Area
--------------------------------------------------------------*/

.package-area {
    background-color: #fff;
    text-align: center;
}

.package-image {
    width: 250px;
    height: 350px;
    
}

.packages {
    margin-top: 3%;
}

.polaroid {
    width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float: left;
  margin-left: 2%;
}

.container-polaroid {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  font-size: medium;
}

.polaroid:hover {
    background-color: rgb(255, 90, 95);
    color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 90, 95, 0.6);
}

.container-package:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}